<div ng-controller='topicController'>
    <h3>Welcome, {{user.username}}</h3>
    <input type="text" ng-model='filterBy' placeholder="search...">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Topic</th>
                <th>User Name</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='topic in topics | filter:filterBy'>
                <td>{{topic.category}}</td>
                <td><a href="#/topics/{{topic._id}}">{{topic.title}}</a></td>
                <td><a href="#/users/{{topic._user._id}}">{{topic._user.username}}</a></td>
                <td>{{topic.posts.length}}</td>
            </tr>
        </tbody>
    </table>
    <form ng-submit='addTopic()'>
        Topic: <input type="text" ng-model='topic.title'><br>
        Description: <textarea ng-model='topic.description' rows="8" cols="40"></textarea><br>
        Category: <select ng-model='topic.category'>
            <option value="HTML">HTML</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="MEAN">MEAN</option>
        </select><br>
        <input type="submit"value="Add Topic">
    </form>
</div>
